.images1:hover .img{
	color: green;
}
#nav11 {
  width: 100%;
  opacity: 100px;

}
#nav11 ul{
  text-align: center;
}
#nav11 li{
  list-style: none;
  display: inline-block;

}
#nav11 ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #1a1a00;
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 25px;
  transition: all ease 0.5s;
}
#nav11 ul li a:hover{
  background-color: #ffcc66;
}
#team11 img:hover{
  color: green;
}